<h1>Create Event</h1>
<%= form_for(@event) do |form| %>
	<%= render form %>
	<%= form.submit "Create Event", :class => 'btn btn-success' %>
  <%= link_to 'Cancel', events_path, :class => 'btn btn-danger' %>
<% end %>